<div id="past-orders-accordion" data-accordion="collapse">
  <h2 id="past-orders-accordion-heading">
    <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400" data-accordion-target="#past-orders-accordion-body" aria-expanded="false" aria-controls="past-orders-accordion-body">
      <h1 class="font-semibold text-2xl">Mes commandes passées</h1>
      <svg data-accordion-icon class="w-6 h-6 rotate-0 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
  </h2>
  <div id="past-orders-accordion-body" class="hidden" aria-labelledby="past-orders-accordion-heading">
    <div class="p-4 mx-auto">
      <div class="grid xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
        <% if @current_user_order_listings.any? %>
          <% @current_user_order_listings.each do |order_listing| %>
                <div class="bg-white rounded-lg shadow-md p-4">
                  <h3 class="mb-2 font-semibold"><%= order_listing.listing.listing_title %></h3>
                  <h2 class="text-lg pl-2 mb-4"><%= order_listing.order.order_total %> €</h2>
                  <p class="mb-2"><%= order_listing.order.created_at %></p>
                  <p class="mb-2"><%= order_listing.listing.description %></p>
                  <p class="mb-2">
                    <span class="font-semibold">Quantité :</span> <%= order_listing.quantity %>
                  </p>
                  <%= link_to "Détails", listing_path(order_listing), class: "text-indigo-500 font-semibold" %>
                </div>
          <% end %>
        <% else %>
          <p>Aucune commande passée pour le moment.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
