
<div class="dashboard-container min-h-screen">
  
<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
    <div class="flex flex-col mb-16 sm:text-center sm:mb-0">
      <a href="/" class="mb-6 sm:mx-auto">
        <div class="flex items-center justify-center rounded-full w-48 h-48 bg-indigo-50">
          <img src="<%= asset_path('homeplant.jpg') %>" alt="communiterra logo" class="object-contain rounded-full">
        </div>
      </a>
      <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
        <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">
          <span class="relative inline-block">
            <svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
              <defs>
                <pattern id="e77df901-b9d7-4b9b-822e-16b2d410795b" x="0" y="0" width=".135" height=".30">
                  <circle cx="1" cy="1" r=".7"></circle>
                </pattern>
              </defs>
              <rect fill="url(#e77df901-b9d7-4b9b-822e-16b2d410795b)" width="52" height="24"></rect>
            </svg>
            <span class="relative">Bienvenue</span>
          </span>
          sur votre jardin virtuel
        </h2>
        <p class="text-base text-gray-700 md:text-lg">
          Vous pouvez ici visualiser toutes vos plantes, écrire des nouvelles entrées dans les journaux de bords, et modifier votre profil. 
        </p>
      </div>
    </div>
  </div>

  <%= render "owned_plants/owned_plant" %>
  

<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="bg-white rounded-lg shadow-md p-4 mb-4 h-full">
      <h2 class="text-2xl font-bold mb-4">Votre profil :</h2>
      <p><strong>Prénom:</strong> <%= current_user.first_name %></p>
      <p><strong>Nom:</strong> <%= current_user.last_name %></p>
      <p><strong>Email:</strong> <%= current_user.email %></p>
      <p><strong>Username:</strong> <%= current_user.username %></p>
      <p><strong>Téléphone:</strong> <%= current_user.phone_number %></p>
      <p><strong>Anniversaire:</strong> <%= current_user.birthdate %></p>
      <p><strong>Bio:</strong> <%= current_user.bio %></p>
      <div class="mt-4">
        <%= link_to "Modifier mon profil", edit_user_registration_path, class: "text-indigo-500 font-semibold" %>
      </div>
    </div>
</div>
</div>
