<div class="dashboard-container min-h-screen">
  <h1>Welcome to your Dashboard!</h1>

  <%= render "shared/logbook"  %>

  <%= render "owned_plants/owned_plant" %>

  <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
      <div class="bg-white rounded-lg shadow-md p-4 mb-4 h-full">
        <h2 class="text-2xl font-bold mb-4">Votre profil :</h2>
        <p><strong>Username:</strong> <%= current_user.username %></p>
        <p><strong>Bio:</strong> <%= current_user.bio %></p>
        <div class="mt-4">
          <%= link_to "Modifier mon profil", edit_user_registration_path, class: "text-indigo-500 font-semibold" %>
          <%= link_to "Voir mon profil complet", user_path(current_user), class: "text-indigo-500 font-semibold" %>
        </div>
      </div>
    </div>

</div>
