<% if flash[:notice].present? %>
  <%= render 'shared/alert', alert_type: 'success', alert_message: flash[:notice] %>
<% elsif flash[:alert].present? %>
  <%= render 'shared/alert', alert_type: 'error', alert_message: flash[:alert] %>
<% end %>

<div class="dashboard-container min-h-screen">
  <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
      <div class="flex flex-col sm:text-center sm:mb-0">
        <a href="/" class="mb-6 sm:mx-auto">
          <div class="flex items-center justify-center rounded-full w-48 h-48 bg-indigo-50">
            <%= image_tag('homeplant.png', alt: 'intérieur de maison dessiné avec des plantes', class: 'object-contain rounded-full') %>
          </div>
        </a>
        <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
          <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">
            <span class="relative inline-block">
              <span class="relative">Bienvenue</span>
            </span>
            sur votre jardin virtuel
          </h2>
          <p class="text-base text-gray-700 md:text-lg">
            Vous pouvez ici visualiser toutes vos plantes, écrire des nouvelles entrées dans les journaux de bords, et modifier votre profil. 
          </p>
        </div>
      </div>
    </div>

    <%= render "dashboard/profile" %>

    <section class="mt-10">
      <%= render "owned_plants/owned_plant" %>
    </section>

    <section id="past-order" class="mt-10">
      <%= render "dashboard/past_orders" %>
    </section>


  </div>
</div>
