<% if flash[:notice].present? || flash[:alert].present? %>
  <div id="alert-container" class="flex justify-center mb-4">
    <%= render 'shared/alert', alert_type: flash[:notice].present? ? 'success' : 'error', alert_message: flash[:notice] || flash[:alert] %>
  </div>
<% end %>

<div class="py-8 px-4 mx-auto max-w-screen-xl lg:px-6">
  <div class="py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="grid lg:grid-cols-2">
      <div class="flex flex-col justify-center md:pr-8 xl:pr-0 lg:max-w-lg">
        <div class="flex items-left mb-4 rounded-full">
          <%= image_tag('logo_sm.png', alt: 'communiterra logo', class: 'object-contain') %>
        </div>
        <div class="max-w-xl mb-6">
          <p class="max-w-lg mb-6 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
            Révélez votre <span class="inline-block text-green-primary">main verte</span>
          </p>
          <p class="text-base text-gray-700 md:text-lg">
            Rejoignez CommuniTerra et développez votre main verte à l'aide de nos conseils et de notre communauté.<br>Journal de bord, partage de plantes ou plantsitting..<br>Le bien-être de vos plantes est à votre portée.<br>Même en vacances !
          </p>
        </div>
        <%= link_to 'Rejoignez nous >', new_user_registration_path, class: 'inline-flex items-center justify-center h-12 px-6 font-medium tracking-wide text-green-primary transition duration-200 rounded shadow-md bg-green-secondary hover:text-green-dark focus:shadow-outline focus:outline-none' %>
      </div>
      <div class="flex items-center justify-center -mx-4 lg:pl-8 mt-8 lg:mt-0">
        <div class="flex flex-col items-end px-3">
          <%= image_tag('succulent.png', class: 'object-cover mb-6 rounded shadow-lg sm:h-48 xl:h-56 sm:w-48 xl:w-56', alt: 'succulent en pot') %>
          <%= image_tag('shed.png', class: 'object-cover rounded shadow-lg sm:h-32 xl:h-40 sm:w-32 xl:w-40', alt: 'abri jardin') %>
        </div>
        <div class="px-3">
          <%= image_tag('garden.png', class: 'object-cover rounded shadow-lg sm:h-64 xl:h-80 sm:w-64 xl:w-80', alt: 'jardin') %>
        </div>
      </div>
    </div>
  </div>

  <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
    <dl class="grid max-w-screen-md gap-8 mx-auto text-gray-900 sm:grid-cols-3 dark:text-white">
      <div class="flex flex-col items-center justify-center">
        <dt class="mb-2 text-3xl md:text-4xl font-extrabold"><%= User.count %></dt>
        <dd class="font-light text-gray-500 dark:text-gray-400">inscrits</dd>
      </div>
      <div class="flex flex-col items-center justify-center">
        <dt class="mb-2 text-3xl md:text-4xl font-extrabold"><%= Allotment.count + PlantSitting.count + Listing.count %></dt>
        <dd class="font-light text-gray-500 dark:text-gray-400">annonces</dd>
      </div>
      <div class="flex flex-col items-center justify-center">
        <dt class="mb-2 text-3xl md:text-4xl font-extrabold"><%= Plant.count %></dt>
        <dd class="font-light text-gray-500 dark:text-gray-400">plantes</dd>
      </div>
    </dl>
  </div>

  <div class="grid pt-8 border-t border-gray-200 md:gap-16 dark:border-gray-700 md:grid-cols-2">
    <div>
      <div class="mb-10">
        <figure class="max-w-lg mx-auto">
          <%= image_tag('market.png', class: 'h-auto max-w-full rounded-lg', alt: 'marché aux plantes') %>
        </figure>
      </div>
    </div>
    <div>
      <div class="mb-10">
        <figure class="max-w-lg mx-auto">
          <%= image_tag('color_pop.png', class: 'h-auto max-w-full rounded-lg', alt: 'main qui arrose sa plante') %>
        </figure>
      </div>
    </div>
  </div>

  <div class="container mx-auto w-full h-full">
    <div class="relative wrap overflow-hidden p-10 h-full">
      <div class="mb-8 flex justify-between flex-col items-center w-full">
        <div class="z-20 flex items-center bg-gray-800 shadow-xl w-8 h-8 rounded-full mb-2">
          <p class="mx-auto font-semibold text-lg text-white">1</p>
        </div>
        <br>
        <div class="bg-green-secondary rounded-lg shadow-xl px-6 py-4">
          <p class="mb-3 font-bold text-gray-800 text-xl text-center">Créez votre compte</p>
          <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">Rejoignez notre communauté en remplissant votre profil,<br>un pseudo, les plantes dont vous vous occupez,<br>et c'est parti !</p>
        </div>
      </div>
      <div class="mb-8 flex justify-between flex-col items-center w-full">
        <div class="z-20 flex items-center bg-gray-800 shadow-xl w-8 h-8 rounded-full mb-2">
          <p class="mx-auto text-white font-semibold text-lg">2</p>
        </div>
        <br>
        <div class="bg-green-primary rounded-lg shadow-xl px-6 py-4">
          <p class="mb-3 font-bold text-gray-300 text-xl text-center">Laissez-vous guider</p>
          <p class="text-sm font-medium leading-snug tracking-wide text-gray-300">Chaque jour, votre journal de bord vous indiquera comment prendre soin de votre plante tout au long de l'année.<br>Remplissez-le tous les jours et ne perdez plus le fil des arrosages !</p>
        </div>
      </div>
      <div class="mb-8 flex justify-between flex-col items-center w-full">
        <div class="z-20 flex items-center bg-gray-800 shadow-xl w-8 h-8 rounded-full mb-2">
          <p class="mx-auto font-semibold text-lg text-white">3</p>
        </div>
        <br>
        <div class="bg-green-secondary rounded-lg shadow-xl px-6 py-4">
          <p class="mb-3 font-bold text-gray-800 text-xl text-center">Partez en vacances en toute sérénité</p>
          <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">Vous n'êtes pas chez vous pendant plusieurs jours ?<br>Utilisez notre système de plantsitting et trouvez un super sitter qui prendra soin de vos plantes tous les jours et remplira leur journal de bord en conséquence.<br>Zéro stress !</p>
        </div>
      </div>
    </div>
  </div>

</div>
