<div id="<%= dom_id listing %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= listing.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Listing title:</strong>
    <%= listing.listing_title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Item name:</strong>
    <%= listing.item_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= listing.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= listing.price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= listing.quantity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Delivery:</strong>
    <%= listing.delivery_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this listing", listing, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this listing', edit_listing_path(listing), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
