<div class="p-4">
  <%= link_to 'Ajouter un article', new_listing_path, class: 'text-indigo-500 font-semibold' %>
</div>

<div class="grid xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
  <% @listings.each do |listing| %>
    <div class="bg-white rounded-lg shadow-md p-4">
      <h2 class="text-xl font-bold mb-2"><%= listing.listing_title %></h2>
      <h2 class="text-xl font-bold mb-2"><%= listing.description %></h2>
      <h2 class="text-xl font-bold mb-2"><%= listing.price %></h2>
      <h2 class="text-xl font-bold mb-2"><%= listing.quantity %></h2>
      <h2 class="text-xl font-bold mb-2"><%= listing.delivery.delivery_provider %></h2>
      <h2 class="text-xl font-bold mb-2"><%= listing.item_name %></h2>
    </div>
  <% end %>
</div>

</div>