<% if flash[:notice].present? %>
  <%= render 'shared/alert', alert_type: 'success', alert_message: flash[:notice] %>
<% elsif flash[:alert].present? %>
  <%= render 'shared/alert', alert_type: 'error', alert_message: flash[:alert] %>
<% end %>

<div class="px-4 py-4 mx-auto sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8 min-h-screen">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Les détails de l'article</h2>
  </div>

  <div class="mt-2 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= render @listing %>
    <% if current_user && @listing.user_id == current_user.id %>
    <div class="flex justify-between items-center px-4">
      <%= link_to "Modifier l'article", edit_listing_path(@listing), class: "text-indigo-500 font-semibold" %>
      <%= button_to "Supprimer l'article", listing_path(@listing), method: :delete, class: "text-indigo-500 font-semibold" %>
    </div>
    <% else %>
      <div class="flex justify-between items-center px-4">
				<%= button_to "Ajouter au panier", carts_path(listing_id: @listing.id), method: :post, class: "btn btn-primary", data: { turbo: false, listing_id: @listing.id } %>
        <%= link_to "Retour aux articles", listings_path, class: "text-indigo-500 font-semibold" %>
      </div>
    <% end %>
  </div>
</div>
