<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Modifier cet utilisateur", edit_user_path(@user) %> |
  <%= link_to "Retour aux utilisateurs", users_path %>

  <%= button_to "Supprimer cet utilisateur", @user, method: :delete %>
</div>
