<div class="p-4">
  <%= link_to "Ajouter des plantes à garder", new_kept_plant_path, class: "p-4 text-indigo-500 font-semibold" %>
  <%= link_to "Mes demandes en cours", kept_plants_path, class: "p-4 text-indigo-500 font-semibold" %>
  <%= link_to "Mes gardes de plantes", index_current_user_plant_sittings_path, class: "p-4 text-indigo-500 font-semibold" %>
</div>

<section class="text-gray-600 body-font overflow-hidden">
  <div class="container">
    <% if @kept_plants && @kept_plants.any? %>
      <% @kept_plants.each do |user_id, kept_plants| %>
        <% user = User.find(user_id) %>
        <% kept_plants.group_by { |kept_plant| [kept_plant.start_date, kept_plant.end_date] }.each do |dates, plants| %>
          <div class="grid xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-8 gap-4 p-4">
            <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
              <div class="flex items-baseline mb-4">
                <h1 class="text-gray-900 text-xl title-font font-medium mb-0" style="vertical-align: baseline;"><%= user.username %></h1>
                <h2 class="title-font text-gray-500 tracking-widest ml-2" style="vertical-align: baseline;">aimerait faire garder ses plantes</h2>
              </div>
              <div class="flex mb-4">
<%= link_to '#', class: 'flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1', 'turbo-frame': 'description' do %>
  Description
<% end %>

<%= link_to '#', class: 'flex-grow border-b-2 border-gray-300 py-2 text-lg px-1', 'turbo-frame': 'details' do %>
  Détails
<% end %>

              </div>
<p class="leading-relaxed mb-4 toggle-description-content"><%= plants.first.description %></p>
<div class="flex border-t border-gray-200 py-2 toggle-details-content">
  <span class="text-gray-500">Ville</span>
  <span class="ml-auto text-gray-900">Paris</span>
</div>
<div class="flex border-t border-gray-200 py-2 toggle-details-content">
  <span class="text-gray-500">Date de début</span>
  <span class="ml-auto text-gray-900"><%= dates.first.strftime("%d/%m/%Y") %></span>
</div>
<div class="flex border-t border-b mb-6 border-gray-200 py-2 toggle-details-content">
  <span class="text-gray-500">Date de fin</span>
  <span class="ml-auto text-gray-900"><%= dates.last.strftime("%d/%m/%Y") %></span>
</div>

              <div class="flex justify-between items-center">
                <span class="title-font font-medium text-2xl text-gray-900"></span>
                <div class="flex items-center">
                  <%= button_to "Garder ses plantes", plant_sittings_path, method: :post, params: { kept_plant_ids: plants.map(&:id) }, class: "flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded", form: { id: "create-plant-sitting-form" } %>
                  <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                      <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>Aucune plante à garder pour le moment.</p>
    <% end %>
  </div>
</section>


<div class="grid xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
  <% if @kept_plants && @kept_plants.any? %>
    <% @kept_plants.each do |user_id, kept_plants| %>
      <% user = User.find(user_id) %>
      <div class="bg-white rounded-lg shadow-md p-4">
        <% kept_plants.group_by { |kept_plant| [kept_plant.start_date, kept_plant.end_date] }.each do |dates, plants| %>
          <h3 class="text-lg pl-2 mb-4">
            <span class="font-semibold">
              <%= user.username %>
            </span> 
            aimerait faire garder
                          du 
              <span class="font-semibold">
                <%= dates.first.strftime("%d/%m/%Y") %>
              </span> 
              au
              <span class="font-semibold">
                <%= dates.last.strftime("%d/%m/%Y") %>
              </span>
          </h3>

            </p>
          <div class="border rounded-lg p-4">
            <p class="mb-2">

            <p>Pour garder : </p>
            <ul class="my-2 ml-4">
              <% plants.each do |kept_plant| %>
                <li>
                  • <%= kept_plant.owned_plant.plant.common_name %>
                </li>
              <% end %>
            </ul>
            <p class="mb-2"><%= plants.first.description %></p>
            <%= link_to "Détails", kept_plants_path(user_id: plants.first.owned_plant.user_id, start_date: dates.first, end_date: dates.last), class: "text-indigo-500 font-semibold" %>
          </div>
          <%= button_to "Garder ces plantes", plant_sittings_path, method: :post, params: { kept_plant_ids: plants.map(&:id) }, class: "p-2 text-indigo-500 font-semibold", form: { id: "create-plant-sitting-form" } %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>Aucune plante à garder pour le moment.</p>
  <% end %>
</div>
