<div class="p-4">
  <%= link_to "Ajouter des plantes à garder", new_kept_plant_path, class: "p-4 text-indigo-500 font-semibold" %>
  <%= link_to "Mes demandes en cours", kept_plants_path, class: "p-4 text-indigo-500 font-semibold" %>
  <%= link_to "Mes gardes de plantes", index_current_user_plant_sittings_path, class: "p-4 text-indigo-500 font-semibold" %>
</div>

<div class="grid xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
  <% if @kept_plants && @kept_plants.any? %>
    <% @kept_plants.each do |user_id, kept_plants| %>
      <% user = User.find(user_id) %>
      <div class="bg-white rounded-lg shadow-md p-4">
        <h2 class="text-xl font-bold mb-2">
          <%= user.username %>
        </h2>
        <% kept_plants.group_by { |kept_plant| [kept_plant.start_date, kept_plant.end_date] }.each do |dates, plants| %>
          <div class="border p-4 mb-4">
            <h3 class="text-lg font-semibold mb-2">Besoin de toi du 
              <%= dates.first.strftime("%d/%m/%Y") %> au <%= dates.last.strftime("%d/%m/%Y") %> pour garder :
            </h3>
            <ul class="mb-2 ml-2">
              <% plants.each do |kept_plant| %>
                <li>
                  • <%= kept_plant.owned_plant.plant.common_name %>
                </li>
              <% end %>
            </ul>
            <p class="mb-2"><%= plants.first.description %></p>
            <%= link_to "Détails des plantes", kept_plants_path(user_id: plants.first.owned_plant.user_id, start_date: dates.first, end_date: dates.last), class: "text-indigo-500 font-semibold" %>
            <%= button_to "Garder ces plantes", plant_sittings_path, method: :post, params: { kept_plant_ids: plants.map(&:id) }, class: "p-4 text-indigo-500 font-semibold", form: { id: "create-plant-sitting-form" } %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>Aucune plante à garder pour le moment.</p>
  <% end %>
</div>
