<div class="p-4">
  <%= link_to "Ajouter des plantes à garder", new_kept_plant_path, class: "p-4 text-indigo-500 font-semibold" %>
  <%= link_to "Mes demandes en cours", kept_plants_path, class: "p-4 text-indigo-500 font-semibold" %>
</div>

<div class="grid xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
  <% if @kept_plants && @kept_plants.any? %>
    <% @kept_plants.each do |kept_plant| %>
      <div id="<%= dom_id kept_plant %>" class="bg-white rounded-lg shadow-md p-4">
        <h2 class="text-xl font-bold mb-2">
          <%= kept_plant.owned_plant.plant.common_name %>
        </h2>
        <p>
          <strong>Par :</strong>
          <%= kept_plant.user.username %>
        </p>
        <p>
          <strong>Description :</strong>
          <%= kept_plant.description %>
        </p>
        <div class="mt-4">
          <%= link_to "Voir les détails", kept_plant_path(kept_plant), class: "text-indigo-500 font-semibold" %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>Aucune plante à garder pour le moment.</p>
  <% end %>
</div>
