<div>
  <h2>Plant Sittings en tant qu'Asker :</h2>
  <% @plant_sittings_as_asker.each do |plant_sitting| %>
    <div id="<%= dom_id plant_sitting %>">
      <p>
        <strong>Sitter:</strong>
        <%= plant_sitting.sitter.username %>
      </p>

      <p>
        <strong>Asker:</strong>
        <%= plant_sitting.asker.username %>
      </p>

      <p>
        <strong>Kept Plants:</strong>
        <% plant_sitting.kept_plants.each do |kept_plant| %>
          <span><%= kept_plant.title %></span>
        <% end %>
      </p>
    </div>
  <% end %>
</div>

<div>
  <h2>Plant Sittings en tant que Sitter :</h2>
  <% @plant_sittings_as_sitter.each do |plant_sitting| %>
    <div id="<%= dom_id plant_sitting %>">
      <p>
        <strong>Sitter:</strong>
        <%= plant_sitting.sitter.username %>
      </p>

      <p>
        <strong>Asker:</strong>
        <%= plant_sitting.asker.username %>
      </p>

      <p>
        <strong>Kept Plants:</strong>
        <% plant_sitting.kept_plants.each do |kept_plant| %>
          <span><%= kept_plant.title %></span>
        <% end %>
      </p>
    </div>
  <% end %>
</div>
