<% if flash[:notice].present? || flash[:alert].present? %>
  <div id="alert-container" class="flex justify-center mb-4">
    <%= render 'shared/alert', alert_type: flash[:notice].present? ? 'success' : 'error', alert_message: flash[:notice] || flash[:alert] %>
  </div>
<% end %>

<h1>New plant sitting</h1>

<%= form_with(model: plant_sitting) do |form| %>
  <% if plant_sitting.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(plant_sitting.errors.count, "erreur(s)") %> empêche(nt) la sauvegarde de ce gardiennage.</h2>

      <ul>
        <% plant_sitting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :kept_plant_id, style: "display: block" %>
    <%= form.text_field :kept_plant_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to plant sittings", plant_sittings_path %>
</div>
