<p style="color: green"><%= notice %></p>

<%= render @plant_sitting %>

<div>
  <%= link_to "Edit this plant sitting", edit_plant_sitting_path(@plant_sitting) %> |
  <%= link_to "Back to plant sittings", plant_sittings_path %>

  <%= button_to "Destroy this plant sitting", @plant_sitting, method: :delete %>
</div>
