<div id="<%= dom_id kept_plant %>">
  <p>
    <strong>De :</strong>
    <%= kept_plant.user.username %>
  </p>

  <p>
    <strong>Plante :</strong>
    <%= kept_plant.owned_plant.plant.common_name %>
  </p>

  <p>
    <strong>Quantité :</strong>
    <%= kept_plant.quantity %>
  </p>

  <p>
    <strong>Description :</strong>
    <%= kept_plant.description %>
  </p>

</div>
