<section class="px-4 py-4 mx-auto sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8 min-h-screen">
  <div class="p-4">
    <%= link_to "Ajouter des plantes à garder", new_kept_plant_path, class: "p-4 text-indigo-500 font-semibold" %>
    <%= link_to "Voir toutes les demandes", plant_sittings_path, class: "p-4 text-indigo-500 font-semibold" %>
    <%= link_to "Mes gardes", kept_plants_path, class: "p-4 text-indigo-500 font-semibold" %>
  </div>


    <div id="kept-plants" class="mt-10">
      <%= render "kept_plants/kept_plant" %>
    </div>

    <div id="plantsitting" >
      <%= render "plant_sittings/plant_sitting", collection: @plant_sittings %>
    </div>


</section>
