<div id="kept_plants">
  <% @kept_plants.each do |kept_plant| %>
    <div class="p-2" id="<%= dom_id kept_plant %>">
      <p>
        <strong>User:</strong>
        <%= kept_plant.user.email %>
      </p>

      <p>
        <strong><%= kept_plant.owned_plant.plant.common_name %></strong>
      </p>

      <p>
        <strong>Description :</strong>
        <%= kept_plant.description %>
      </p>

      <p>
        <%= link_to "Plus de détails", kept_plant_path(kept_plant) %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "Rajouter des plantes à garder", new_kept_plant_path %>
