<%= form_with(model: @kept_plant, url: kept_plants_path) do |form| %>
  <% if @kept_plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kept_plant.errors.count, "erreur") %> empêche(nt) la sauvegarde :</h2>

      <ul>
        <% @kept_plant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.label :owned_plant_id, "Plante possédée :" %>
    <%= form.collection_select :owned_plant_id, @owned_plants, :id, lambda { |owned_plant| owned_plant.plant.common_name } %>
  </div>

  <div class="field">
    <%= form.label :description, "Description :" %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit "Créer" %>
  </div>
<% end %>
