<div class="grid xs:grid-cols-1 my-5 mx-5">
  <div class="bg-white rounded-lg shadow-md p-4">
    <%= form_with(model: @kept_plant, url: kept_plants_path) do |form| %>
      <%# <% if @kept_plant.errors.any? %>
        <!-- ... Gestion des erreurs ... -->
      <%# <% end %>

      <div class="field mb-4">
        <%= form.label :owned_plant_id, "Plantes à faire garder :" %>
        <% @owned_plants.each do |owned_plant| %>
          <%= form.label nil, class: 'checkbox mx-2' do %>
            <%= form.check_box :owned_plant_id, { multiple: true }, owned_plant.id, nil %>
            <%= owned_plant.plant.common_name %>
          <% end %>
        <% end %>
      </div>

      <div class="flex">
          <div class="field mr-2">
            <%= form.label :start_date, "Date de début :" %>
            <%= form.date_field :start_date, class: "form-control rounded-md" %>
          </div>

          <div class="field mx-2">
            <%= form.label :end_date, "Date de fin :" %>
            <%= form.date_field :end_date, class: "form-control rounded-md" %>
          </div>

          <div class="field mx-2">
            <%= form.label :quantity, "Quantité :" %>
            <%= form.number_field :quantity, class: "form-control rounded-md w-20" %>
          </div>
      </div>

      <div class="flex field my-4">
        <%= form.label :description, "Description : " %>
        <%= form.text_area :description, class: "ml-2 rounded-md w-800" %>
      </div>

      <div class="actions text-indigo-500 font-semibold">
        <%= form.submit "Créer" %>
      </div>
    <% end %>
  </div>
</div>
