<%= form_with(model: @kept_plant, url: kept_plants_path) do |form| %>
  <% if @kept_plant.errors.any? %>
    <!-- ... Gestion des erreurs ... -->
  <% end %>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.label :owned_plant_id, "Plantes à faire garder :" %>
    <% @owned_plants.each do |owned_plant| %>
      <%= form.label nil, class: 'checkbox' do %>
        <%= form.check_box :owned_plant_id, { multiple: true }, owned_plant.id, nil %>
        <%= owned_plant.plant.common_name %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :quantity, "Quantité :" %>
    <%= form.number_field :quantity, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :description, "Description :" %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :start_date, "Date de début :" %>
    <%= form.date_field :start_date, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :end_date, "Date de fin :" %>
    <%= form.date_field :end_date, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Créer" %>
  </div>
<% end %>
