<p style="color: green"><%= notice %></p>

<%= render @kept_plant %>

<div>
  <%= link_to "Edit this kept plant", edit_kept_plant_path(@kept_plant) %> |
  <%= link_to "Back to kept plants", kept_plants_path %>

  <%= button_to "Destroy this kept plant", @kept_plant, method: :delete %>
</div>
