<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-35 w-auto" src="<%= asset_path('logo_sm.png') %>" alt="communiterra logo" class="object-contain">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Donne-moi un petit nom et/ou description personnalisée !</h2>
  </div>

  <div class="mt-2 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_with(model: owned_plant, html: { class: "space-y-6" }) do |form| %>
      <% if owned_plant.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(owned_plant.errors.count, "error") %> prohibited this owned_plant from being saved:</h2>

          <ul>
            <% owned_plant.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :nickname, "Petit nom", class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%= form.text_field :nickname, value: owned_plant.plant.common_name, class: "block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
      </div>

      <div class="field">
        <%= form.label :description, "Description personnalisée", class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%= form.text_area :description, value: owned_plant.plant.description, class: "block w-full rounded-md pl-4 pr-4 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
      </div>

      <div class="actions bg-green-primary rounded-md">
        <%= form.submit "Enregistrer", class: "flex w-full justify-center rounded-md bg-green-primary text-white px-3 py-2 text-sm font-semibold leading-5 shadow-sm hover:bg-green-secondary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-primary" %>
      </div>
    <% end %>
  </div>
</div>
