<% if flash[:notice].present? || flash[:alert].present? %>
  <div id="alert-container" class="flex justify-center mb-4">
    <%= render 'shared/alert', alert_type: flash[:notice].present? ? 'success' : 'error', alert_message: flash[:notice] || flash[:alert] %>
  </div>
<% end %>

<h1>Voici les plantes que tu possèdes aujourd'hui :</h1>

<div id="owned_plants">
  <% @owned_plants.each do |owned_plant| %>
<div id="<%= dom_id owned_plant %>">

  <p>
    <strong>Plantes :</strong>
    <%= owned_plant.plant.common_name %>
  </p>

  <p>
    <strong>Quantité :</strong>
    <%= owned_plant.quantity %>
  </p>

</div>
    <p>
      <%= link_to "Voir cette plante", owned_plant %>
    </p>
  <% end %>
</div>

<%= link_to "Nouvelle plante", new_owned_plant_path %>
