<p style="color: green"><%= notice %></p>

<%= render @owned_plant %>

<div>
  <%= link_to "Edit this owned plant", edit_owned_plant_path(@owned_plant) %> |
  <%= link_to "Back to owned plants", owned_plants_path %>

  <%= button_to "Destroy this owned plant", @owned_plant, method: :delete %>
</div>
