<p style="color: green"><%= notice %></p>

<%= render @owned_plant %>

<div>
  <%= link_to "Modifier cette plante", edit_owned_plant_path(@owned_plant) %> |
  <%= link_to "Retour aux plantes possédées", dashboard_index_path %>
  <%= link_to "Toutes mes plantes", owned_plants_path %>

  <%= button_to "Supprimer cette plante", @owned_plant, method: :delete %>
</div>
