<div id="<%= dom_id plant %>">
  <p>
    <strong>Description:</strong>
    <%= plant.description %>
  </p>

  <p>
    <strong>Common name:</strong>
    <%= plant.common_name %>
  </p>

  <p>
    <strong>Latin name:</strong>
    <%= plant.latin_name %>
  </p>

  <p>
    <strong>Specie:</strong>
    <%= plant.specie %>
  </p>

  <p>
    <strong>Vegetation:</strong>
    <%= plant.vegetation %>
  </p>

  <p>
    <strong>Foliage:</strong>
    <%= plant.foliage %>
  </p>

  <p>
    <strong>Mature height:</strong>
    <%= plant.mature_height %>
  </p>

  <p>
    <strong>Mature width:</strong>
    <%= plant.mature_width %>
  </p>

  <p>
    <strong>Maintenance level:</strong>
    <%= plant.maintenance_level %>
  </p>

  <p>
    <strong>Maintenance description:</strong>
    <%= plant.maintenance_description %>
  </p>

  <p>
    <strong>Water requirement level:</strong>
    <%= plant.water_requirement_level %>
  </p>

  <p>
    <strong>Water requirement description:</strong>
    <%= plant.water_requirement_description %>
  </p>

  <p>
    <strong>Cold resistance level:</strong>
    <%= plant.cold_resistance_level %>
  </p>

  <p>
    <strong>Cold resistance description:</strong>
    <%= plant.cold_resistance_description %>
  </p>

  <p>
    <strong>Density:</strong>
    <%= plant.density %>
  </p>

  <p>
    <strong>Exposure level:</strong>
    <%= plant.exposure_level %>
  </p>

  <p>
    <strong>Exposure description:</strong>
    <%= plant.exposure_description %>
  </p>

  <p>
    <strong>Flowering:</strong>
    <%= plant.flowering %>
  </p>

  <p>
    <strong>Planting:</strong>
    <%= plant.planting %>
  </p>

  <p>
    <strong>Harvest:</strong>
    <%= plant.harvest %>
  </p>

  <p>
    <strong>Pruning:</strong>
    <%= plant.pruning %>
  </p>

</div>
