<% if flash[:notice].present? %>
  <%= render 'shared/alert', alert_type: 'success', alert_message: flash[:notice] %>
<% elsif flash[:alert].present? %>
  <%= render 'shared/alert', alert_type: 'error', alert_message: flash[:alert] %>
<% end %>

<section class="px-4 py-4 mx-auto sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8">
  <div class="grid grid-cols-1 gap-4 px-4 mx-auto sm:grid-cols-2 md:grid-cols-3">
    <div class="col-span-1">
      <div class="mt-4 sm:mx-auto sm:w-full sm:max-w-sm ">
        <br />
        <%= search_form_for @q do |f| %>

        <div class="field">
          <%= f.label :common_name_cont, "Recherchez une plante par son nom commun :", class: "block text-sm font-medium leading-6 text-gray-900" %>
            <hr/>
          <%= f.search_field :common_name_cont, class: "block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>
        
        <br />

        <div class="actions bg-green-primary rounded-md">
          <%= f.button "Recherche", type: "submit", class: "flex w-full justify-center rounded-md bg-green-primary text-white px-3 py-2 text-sm font-semibold leading-5 shadow-sm hover:bg-green-secondary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-primary"%>
        </div>

        <hr/>

        <%= link_to "Retour", plants_path, class: "flex w-full justify-center rounded-md bg-gray-500 text-white px-3 py-2 text-sm font-semibold leading-5 shadow-sm hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" %>
      </div>
      <% end %>
    </div>

    <div class="ml-6 col-span-1 hidden md:block md:collapse">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <br />
        <%= search_form_for @q,
              class: 'form',
              url: plants_path,
              html: { autocomplete: 'off', autocapitalize: 'none' } do |f| %>

        <div class="field">
          <%= f.label :cold_resistance_level_cont, "Filtrer par résistance au froid :", class: "block text-sm font-medium leading-6 text-gray-900" %>
          <%= f.collection_select :cold_resistance_level_cont, Plant.select(:cold_resistance_level).distinct.order(:cold_resistance_level), :cold_resistance_level, :cold_resistance_level, { include_blank: true }, class: "block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>

        <div class="field">
          <%= f.label :exposure_level_cont, "Filtrer par exposition :", class: "block text-sm font-medium leading-6 text-gray-900" %>
          <%= f.collection_select :exposure_level_cont, Plant.select(:exposure_level).distinct.order(:exposure_level), :exposure_level, :exposure_level, { include_blank: true }, class: "block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>

        <div class="field">
          <%= f.label :flowering_cont, "Filtrer par floraison :", class: "block text-sm font-medium leading-6 text-gray-900" %>
          <%= f.collection_select :flowering_cont, Plant.select(:flowering).distinct.order(:flowering), :flowering, :flowering, { include_blank: true }, class: "block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>
      </div>
    </div>

    <div class="mt-6 col-span-1">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">

        <div class="field">
          <%= f.label :maintenance_level_cont, "Filtrer par niveau d'entretien :", class: "block text-sm font-medium leading-6 text-gray-900" %>
          <%= f.collection_select :maintenance_level_cont, Plant.select(:maintenance_level).distinct.order(:maintenance_level), :maintenance_level, :maintenance_level, { include_blank: true }, class: "block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>

        <div class="field">
          <%= f.label :water_requirement_level_cont, "Filtrer par besoin en eau :", class: "block text-sm font-medium leading-6 text-gray-900" %>
          <%= f.collection_select :water_requirement_level_cont, Plant.select(:water_requirement_level).distinct.order(:water_requirement_level), :water_requirement_level, :water_requirement_level, { include_blank: true }, class: "block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>

        <div class="form-group">
          <i><%= @plants.total_count %> plantes</i>
        </div>

        <div class="form-group">
          <div class="actions bg-green-primary rounded-md">
            <%= f.button "Filtre", type: "submit", class: "flex w-full justify-center rounded-md bg-green-primary text-white px-3 py-2 text-sm font-semibold leading-5 shadow-sm hover:bg-green-secondary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-primary" %>
          </div>

          <hr/>
          
          <div class="actions bg-green-primary rounded-md">
            <%= link_to request.path, class: "flex w-full justify-center rounded-md bg-gray-500 text-white px-3 py-2 text-sm font-semibold leading-5 shadow-sm hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" do %>
            <i class="far fa-undo icon-l"></i><%= t('Retour') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>    
  <% end %>
  </div>

  <div class="grid xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4 p-4">
    <% @plants.each do |plant| %>
      <div class="bg-white rounded-lg shadow-md p-4">
        <h2 class="text-xl font-bold mb-2"><%= link_to plant.common_name, plant_path(plant) %></h2>
        <p class="text-gray-600 mb-4"><%= plant.latin_name %></p>
        <div class="flex flex-wrap mb-2">
          <span class="inline-flex items-center bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            <%= plant.specie %>
          </span>
          <span class="inline-flex items-center bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            <%= plant.maintenance_level %>
          </span>
          <span class="inline-flex items-center bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            <%= plant.cold_resistance_level %>
          </span>
        </div>
        <div class="flex justify-between">
          <p class="text-gray-600">Hauteur : <%= plant.mature_height %></p>
          <p class="text-gray-600">Largeur : <%= plant.mature_width %></p>
        </div>
        <div class="mt-4">
          <%= link_to "Voir les détails", plant_path(plant), class: "text-indigo-500 font-semibold" %>
          <%= form_with(model: @owned_plant, url: owned_plants_path, method: :post) do |form| %>
            <%= form.fields_for :owned_plant do |owned_plant_fields| %>
              <%= owned_plant_fields.hidden_field :plant_id, value: plant.id %>
              <%= owned_plant_fields.hidden_field :user_id, value: current_user.id %>
              <%= owned_plant_fields.hidden_field :quantity, value: 1 %>
            <% end %>
            <button type="submit" class="text-indigo-500 font-semibold">Ajouter cette plante</button>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="flex justify-center mb-4">
    <div class="font-medium">
      <%= paginate @plants %>
    </div>
  </div>
</section>