<div class="max-w-3xl p-5 mx-auto my-5 min-h-screen">
  <h1 class="text-3xl font-bold mb-4"><%= @plant.common_name %></h1>
  <p class="text-gray-600 mb-6">De son nom latin <%= @plant.latin_name %></p>
  
  <div class="grid grid-cols-2 gap-8">
    <div>
      <h2 class="text-xl font-bold mb-2">Description</h2>
      <p><%= @plant.description %></p>
    </div>
    
    <div>
      <h2 class="text-xl font-bold mb-2">Informations</h2>
      <ul>
        <li><span class="font-semibold">Espèce :</span> <%= @plant.specie %></li>
        <li><span class="font-semibold">Végétation :</span> <%= @plant.vegetation %></li>
        <li><span class="font-semibold">Feuillage :</span> <%= @plant.foliage %></li>
        <li><span class="font-semibold">Hauteur :</span> <%= @plant.mature_height %></li>
        <li><span class="font-semibold">Largeur :</span> <%= @plant.mature_width %></li>
        <li><span class="font-semibold">Entretien :</span> <%= @plant.maintenance_level %></li>
        <li><span class="font-semibold">Besoin en eau :</span> <%= @plant.water_requirement_level %></li>
        <li><span class="font-semibold">Résistance au froid :</span> <%= @plant.cold_resistance_level %></li>
        <li><span class="font-semibold">Densité :</span> <%= @plant.density %></li>
        <li><span class="font-semibold">Exposition :</span> <%= @plant.exposure_level %></li>
        <li><span class="font-semibold">Floraison :</span> <%= @plant.flowering %></li>
        <li><span class="font-semibold">Plantation :</span> <%= @plant.planting %></li>
        <li><span class="font-semibold">Récolte :</span> <%= @plant.harvest %></li>
        <li><span class="font-semibold">Taille :</span> <%= @plant.pruning %></li>
      </ul>
    </div>
  </div>
  
  <%# <% if current_user && current_user.admin? %>
    <%# <%= link_to "Modifier plante", edit_plant_path(@plant), class: "bg-indigo-500 text-white py-2 px-4 mt-6 inline-block rounded-lg" %>
  <%# <% else %> 
    <%# <% if current_user %> 
      <% if user_signed_in? %>
        <% if current_user.owned_plants.exists?(plant_id: @plant.id) %>
          <%= link_to "Voir ma plante", dashboard_index_path, class: "bg-green-500 text-white py-2 px-4 mt-6 inline-block rounded-lg" %>
        <% else %>
          <%= form_with(model: @owned_plant, url: owned_plants_path, method: :post) do |form| %>
          <%= form.fields_for :owned_plant do |owned_plant_fields| %>
          <%= owned_plant_fields.hidden_field :plant_id, value: @plant.id %>
          <%= owned_plant_fields.hidden_field :user_id, value: current_user.id %>
        <% end %>
        <%= form.submit "Ajouter à mes plantes", class: "bg-green-500 text-white py-2 px-4 mt-6 inline-block rounded-lg" %>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to "Me connecter pour ajouter à mes plantes", new_user_session_path, class: "bg-green-500 text-white py-2 px-4 mt-6 inline-block rounded-lg" %>
  <% end %>
    <%# <% end %>
  <%# <% end %>
</div>
