<% if flash[:notice].present? || flash[:alert].present? %>
  <div id="alert-container" class="flex justify-center mb-4">
    <%= render 'shared/alert', alert_type: flash[:notice].present? ? 'success' : 'error', alert_message: flash[:notice] || flash[:alert] %>
  </div>
<% end %>

<main class="max-w-3xl p-5 mx-auto my-5 min-h-screen">
  <h1 class="text-3xl font-bold mb-4"><%= @plant.common_name %></h1>
  <p class="text-gray-600 mb-6">De son nom latin <%= @plant.latin_name %></p>

  <% if @plant.plantimg.attached? %>
    <%= image_tag @plant.plantimg, alt: 'plantimg' %>
    <br>
    <% if current_user && current_user.admin? %> 
      <%= form_tag plant_plantimgs_path(@plant), multipart: true do %>
        <%= file_field_tag :plantimg %>
        <%= button_tag "Mettre à jour", class: "bg-green-900 hover:bg-green-secondary text-white font-bold py-2 px-4 rounded" %>
      <% end %>
    <% end %>
  <% else %>
    <% if current_user && current_user.admin? %>
      <%= form_tag plant_plantimgs_path(@plant), multipart: true do %>
        <%= file_field_tag :plantimg %>
        <%= button_tag "Mettre à jour", class: "bg-green-900 hover:bg-green-secondary text-white font-bold py-2 px-4 rounded" %>
      <% end %>
    <% end %>
  <% end %>
  <br>
  
  <div class="grid grid-cols-2 gap-8">
    <div>
      <h2 class="text-xl font-bold mb-2">Description</h2>
      <p><%= @plant.description %></p>
    </div>
    
    <div>
      <h2 class="text-xl font-bold mb-2">Informations</h2>
      <ul>
        <li><span class="font-semibold">Espèce :</span> <%= @plant.specie %></li>
        <li><span class="font-semibold">Végétation :</span> <%= @plant.vegetation %></li>
        <li><span class="font-semibold">Feuillage :</span> <%= @plant.foliage %></li>
        <li><span class="font-semibold">Hauteur :</span> <%= @plant.mature_height %></li>
        <li><span class="font-semibold">Largeur :</span> <%= @plant.mature_width %></li>
        <li><span class="font-semibold">Entretien :</span> <%= @plant.maintenance_level %></li>
        <li><span class="font-semibold">Besoin en eau :</span> <%= @plant.water_requirement_level %></li>
        <li><span class="font-semibold">Résistance au froid :</span> <%= @plant.cold_resistance_level %></li>
        <li><span class="font-semibold">Densité :</span> <%= @plant.density %></li>
        <li><span class="font-semibold">Exposition :</span> <%= @plant.exposure_level %></li>
        <li><span class="font-semibold">Floraison :</span> <%= @plant.flowering %></li>
        <li><span class="font-semibold">Plantation :</span> <%= @plant.planting %></li>
        <li><span class="font-semibold">Récolte :</span> <%= @plant.harvest %></li>
        <li><span class="font-semibold">Élagage :</span> <%= @plant.pruning %></li>
      </ul>
    </div>
  </div>
  
  <% if current_user %>
    <% if current_user.admin? %>
      <div class="actions mt-4 flex justify-between items-end">
        <!--<%= link_to "Modifier cette plante", edit_plant_path(@plant), class: "bg-green-primary text-white py-2 px-4 mt-6 inline-block rounded-lg" %>-->
        <div class="actions mt-4 flex justify-between">
          <%= form_with(model: @owned_plant, url: owned_plants_path, method: :post) do |form| %>
            <%= form.fields_for :owned_plant do |owned_plant_fields| %>
              <%= owned_plant_fields.hidden_field :plant_id, value: @plant.id %>
              <%= owned_plant_fields.hidden_field :user_id, value: current_user.id %>
              <%= owned_plant_fields.label :quantity, "Quantité :", class: "block text-sm font-medium leading-6 text-gray-900" %>
              <%= owned_plant_fields.number_field :quantity, value: 1, min: 1, class: "w-1/3 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
              <%= owned_plant_fields.label :nickname, "Petit nom (facultatif):", class: "block text-sm font-medium leading-6 text-gray-900" %>
              <%= owned_plant_fields.text_field :nickname, class: "w-1/3 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
              <%= owned_plant_fields.label :description, "Description (facultatif):", class: "block text-sm font-medium leading-6 text-gray-900" %>
              <%= owned_plant_fields.text_area :description, class: "w-1/3 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
            <% end %>
            <div class="actions mt-4 bg-green-primary rounded-md">
              <button type="submit" class="flex w-full justify-center rounded-md bg-green-primary text-white px-3 py-2 text-sm font-semibold leading-5 shadow-sm hover:bg-green-secondary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-primary">Ajouter une nouvelle plante de la même espèce</button>
            <% end %>
          </div>
        </div>
      </div>
    <% elsif current_user.owned_plants.exists?(plant_id: @plant.id) %>
      <div class="actions mt-4 flex justify-between items-end">
        <%= link_to "Voir ma plante", dashboard_index_path, class: "flex mx-10 h-10 w-1/3 justify-center rounded-md bg-green-primary text-white px-3 py-2 text-sm font-semibold leading-5 shadow-sm hover:bg-green-secondary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-primary" %>
        <div class="actions mt-4 flex justify-between">
          <%= form_with(model: @owned_plant, url: owned_plants_path, method: :post) do |form| %>
            <%= form.fields_for :owned_plant do |owned_plant_fields| %>
              <%= owned_plant_fields.hidden_field :plant_id, value: @plant.id %>
              <%= owned_plant_fields.hidden_field :user_id, value: current_user.id %>
              <%= owned_plant_fields.label :quantity, "Quantité :", class: "block text-sm font-medium leading-6 text-gray-900" %>
              <%= owned_plant_fields.number_field :quantity, value: 1, min: 1, class: "w-1/3 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
              <%= owned_plant_fields.label :nickname, "Petit nom (facultatif):", class: "block text-sm font-medium leading-6 text-gray-900" %>
              <%= owned_plant_fields.text_field :nickname, class: "w-1/3 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
              <%= owned_plant_fields.label :description, "Description (facultatif):", class: "block text-sm font-medium leading-6 text-gray-900" %>
              <%= owned_plant_fields.text_area :description, class: "w-1/3 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
            <% end %>
            <div class="actions mt-4 bg-green-primary rounded-md">
              <%= form.submit "Ajouter une nouvelle plante de la même espèce", class: "flex w-full justify-center rounded-md bg-green-primary text-white px-3 py-2 text-sm font-semibold leading-5 shadow-sm hover:bg-green-secondary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-primary" %>
              <% end %>
            </div>
        </div>
      </div>
    <% else %>
      <div class="actions mt-4 flex justify-center">
        <%= form_with(model: @owned_plant, url: owned_plants_path, method: :post) do |form| %>
          <%= form.fields_for :owned_plant do |owned_plant_fields| %>
            <%= owned_plant_fields.hidden_field :plant_id, value: @plant.id %>
            <%= owned_plant_fields.hidden_field :user_id, value: current_user.id %>
            <%= owned_plant_fields.label :quantity, "Quantité :", class: "block text-sm font-medium leading-6 text-gray-900" %>
            <%= owned_plant_fields.number_field :quantity, value: 1, min: 1, class: "w-1/3 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
            <%= owned_plant_fields.label :nickname, "Petit nom (facultatif):", class: "block text-sm font-medium leading-6 text-gray-900" %>
            <%= owned_plant_fields.text_field :nickname, class: "w-1/3 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
            <%= owned_plant_fields.label :description, "Description (facultatif):", class: "block text-sm font-medium leading-6 text-gray-900" %>
            <%= owned_plant_fields.text_area :description, class: "w-1/3 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
          <% end %>
          <div class="actions mt-4 bg-green-primary rounded-md">
            <%= form.submit "Ajouter cette plante", class: "flex w-full justify-center rounded-md bg-green-primary text-white px-3 py-2 text-sm font-semibold leading-5 shadow-sm hover:bg-green-secondary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-primary" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="actions mt-4 flex justify-center">
      <%= link_to "Se connecter pour ajouter cette plante", new_user_session_path, class: "bg-green-primary text-white py-2 px-4 mt-6 inline-block rounded-lg" %>
    </div>
  <% end %>
</main>
