<div id="<%= dom_id cart_listing %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Cart:</strong>
    <%= cart_listing.cart_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Listing:</strong>
    <%= cart_listing.listing_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this cart listing", cart_listing, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this cart listing', edit_cart_listing_path(cart_listing), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
