<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Modifier l'entrée du journal de bord</h2>
  </div>

  <div class="mt-2 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_with(model: [@owned_plant, log_book], class: "space-y-6 contents", local: true) do |form| %>
      <% if log_book.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
          <h2><%= pluralize(log_book.errors.count, "error") %> prohibited this log_book from being saved:</h2>

          <ul>
            <% log_book.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :entry_date, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%= form.datetime_field :entry_date, class: "block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
      </div>

      <div class="field">
        <%= form.label :title, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%= form.text_field :title, class: "block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
      </div>

      <div class="field">
        <%= form.label :content, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%= form.text_area :content, rows: 4, class: "block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
      </div>

      <div class="actions bg-green-primary rounded-md">
        <%= form.submit "Enregistrer", class: "flex w-full justify-center rounded-md bg-green-primary text-white px-3 py-2 text-sm font-semibold leading-5 shadow-sm hover:bg-green-secondary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-primary" %>
      </div>

      <div>
        <%= button_to "Supprimer", owned_plant_log_book_path(@owned_plant, @log_book), data: { turbo: false }, method: :delete, class: "mt-2 flex w-full justify-center rounded-md bg-red-400 text-white px-3 py-2 text-sm font-semibold leading-5 shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 hover:bg-red-200" %>
      </div>
      
    
    <% end %>
  </div>
</div>
