<div class="min-h-screen">
  <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
      <div class="flex flex-col mb-16 sm:text-center sm:mb-0">
        <a href="/" class="mb-6 sm:mx-auto">
          <div class="flex items-center justify-center rounded-full w-52 h-52">
            <img src="<%= asset_path('plantdiary.jpg') %>" alt="communiterra logo" class="object-contain rounded-full">
          </div>
        </a>
        <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
          <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">
            <span class="relative inline-block">
              <span class="relative">Bienvenue</span>
            </span>
            sur le journal de bord
            <% if @log_books.present? && @log_books.first.present? && @log_books.first.owned_plant.nickname.present? %>
              de <%= @log_books.first.owned_plant.nickname %>
            <% elsif @log_books.present? && @log_books.first.present? %>
              de <%= @log_books.first.owned_plant.plant.common_name %>
            <% else %>
              de votre plante !
            <% end %>
          </h2>
          <p class="text-base text-gray-700 md:text-lg">
            Vous pouvez ici consulter toutes vos entrées passées sur votre plante, en ajouter, les modifier, et les supprimer.
          </p>
        </div>
      </div>
    </div>

    <% if @log_books.empty? %>
      <h3>Input your first entry for your logbook to get smarter!</h3>
      <%= link_to "Ajouter une entrée dans le journal de bord", new_owned_plant_log_book_path(@owned_plant), class: "mt-2 flex w-full justify-center rounded-md bg-green-secondary text-green-dark px-3 py-2 text-sm font-semibold leading-5 shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 hover:bg-gray-pale" %>
    <% else %>
      <%= render partial: 'log_books/water_intake', locals: { log_books: @log_books, owned_plant: @owned_plant } %>
      <%= render partial: 'log_books/exposure', locals: { log_books: @log_books, owned_plant: @owned_plant } %>
      <%= render partial: 'log_books/flowering', locals: { log_books: @log_books, owned_plant: @owned_plant } %>
    <% end %>

    <div class="grid gap-8 lg:grid-cols-3 sm:max-w-sm sm:mx-auto lg:max-w-full">
      <% if @log_books.present? %>
        <% @log_books.reverse_each do |log_book| %>
          <div class="flex">
            <div class="pt-1 mr-6 text-center">
            <div class="px-2 pb-1 mb-1 border-b border-gray-400">
              <p class="text-sm text-blue-gray-700"><%= log_book.entry_date.strftime('%b') %></p>
            </div>
            <div class="px-2">
              <p class="text-lg font-bold"><%= log_book.entry_date.strftime('%d') %></p>
            </div>
          </div>
          <div>
            <div class="mb-2">
              <%= link_to "Modifier cette entrée", edit_owned_plant_log_book_path(@owned_plant, log_book.id), method: :get, class: "text-xs font-semibold tracking-wide uppercase transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800", aria: { label: "Modify Log Entry" }, title: "Modify Log Entry" %>
            </div>
            <div class="mb-2">
              <a href="/" aria-label="Article" class="inline-block text-2xl font-bold leading-5 text-black transition-colors duration-200 hover:text-deep-purple-accent-400"><%= log_book.title %></a>
            </div>
            <p class="mb-5 text-gray-700">
              <%= log_book.content %>
            </p>
          </div>
        </div>
        <% end %>
      <% else %>
        <div class="flex items-center justify-center w-full py-12">
          <div class="text-center"> 
            <p class="text-lg font-medium mb-4">Ce journal est vide.</p>
            <%= link_to "Ajouter votre première entrée", new_owned_plant_log_book_path(@owned_plant), class: "mt-2 flex w-full justify-center rounded-md bg-green-primary text-white px-3 py-2 text-sm font-semibold leading-5 shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 hover:bg-green-secondary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
