<%= form_with(model: [@owned_plant, @log_book], local: true) do |log_book_form| %>
  <% if @log_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log_book.errors.count, "erreur") %> ont empêché la sauvegarde de cette entrée du journal de bord :</h2>

      <ul>
        <% @log_book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= log_book_form.label :entry_date %>
    <%= log_book_form.datetime_field :entry_date %>
  </div>

  <div class="field">
    <%= log_book_form.label :title %>
    <%= log_book_form.text_field :title %>
  </div>

  <div class="field">
    <%= log_book_form.label :content %>
    <%= log_book_form.text_area :content %>
  </div>

  <div class="field">
    <%= log_book_form.label :plant_mood_id %>
    <%= log_book_form.collection_select :plant_mood_id, PlantMood.all, :id, :name, include_blank: true %>
  </div>

  <div class="actions">
    <%= log_book_form.submit "Enregistrer" %>
  </div>
<% end %>
