<% if flash[:notice].present? || flash[:alert].present? %>
  <div id="alert-container" class="flex justify-center mb-4">
    <%= render 'shared/alert', alert_type: flash[:notice].present? ? 'success' : 'error', alert_message: flash[:notice] || flash[:alert] %>
  </div>
<% end %>

<div id="<%= dom_id(@log_book) %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Owned plant:</strong>
    <%= @log_book.owned_plant_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Entry date:</strong>
    <%= @log_book.entry_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= @log_book.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= @log_book.content %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Mood:</strong>
    <%= @log_book.mood %>
  </p>

    <%= link_to 'Edit this log book', edit_owned_plant_log_book_path(@owned_plant, @log_book), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
</div>
