<div id="<%= dom_id allotment_user %>">
  <p class="mb-4">
    <strong class="block font-medium mb-1">Gestionnaire :</strong>
    <%= allotment_user.allotment.admin.username %>
  </p>

  <p class="mb-4">
    <strong class="block font-medium mb-1">Participants :</strong>
    <%= allotment_user.member.username %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this allotment user", allotment_user, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this allotment user', edit_allotment_user_path(allotment_user), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
