<div id="<%= dom_id allotment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nom :</strong>
    <%= allotment.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Taille :</strong>
    <%= allotment.size %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description :</strong>
    <%= allotment.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date de début :</strong>
    <%= allotment.start_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date de fin :</strong>
    <%= allotment.end_date %>
  </p>

  <p class="my-4">
    <strong class="block font-medium mb-1">Gestionnaire :</strong>
    <%= allotment.admin.username %>
  </p>

  <p class="my-4">
    <strong class="block font-medium mb-1">Participants :</strong>
    <% @allotment_users.each do |allotment_user| %>
      <span class="inline-block bg-gray-200 text-gray-800 rounded-full px-3 py-1 text-sm font-semibold mr-2 mb-2">
        <%= allotment_user.member.username %>
      </span>
    <% end %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Voir ce potager", allotment, class: "text-indigo-500 font-semibold" %>
    <%= link_to "Modifier ce potager", edit_allotment_path(allotment), class: "text-indigo-500 font-semibold" %>
    <%= form_with(model: @allotment_user, url: allotment_users_path, method: :post) do |form| %>
      <%= form.fields_for :allotment_user do |au_form| %>
        <%= au_form.hidden_field :allotment_id, value: allotment.id %>
        <%= au_form.hidden_field :member_id, value: current_user.id %>
      <% end %>
      <%= form.submit "Rejoindre ce potager", class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
    <hr class="mt-6">
  <% end %>
</div>
