<div class="min-h-screen justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Créer un potager</h2>
  </div>

  <div class="mt-2 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_with(model: @allotment, class: "contents") do |form| %>
      <% if @allotment.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
          <h2><%= pluralize(@allotment.errors.count, "erreur(s)") %> vous empêche(nt) de valider :</h2>
          <ul>
            <% @allotment.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form.hidden_field :admin_id, value: current_user.id %>

      <div class="mb-5">
        <%= form.label :name, "Nom du potager", class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="my-5">
        <%= form.label :size, "Taille du potager en m2", class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%= form.text_field :size, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="my-5">
        <%= form.label :description, "Description", class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="my-5">
        <%= form.label :start_date, "Date de début", class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%= form.datetime_field :start_date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="my-5">
        <%= form.label :end_date, "Date de fin", class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%= form.datetime_field :end_date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="my-5">
        <%= form.label :owned_plant_ids, "Plantes à associer :", class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <% @owned_plants.each do |owned_plant| %>
<%= check_box_tag "allotment[owned_plant_ids][]", owned_plant.id, @allotment.owned_plants.include?(owned_plant), id: "owned_plant_#{owned_plant.id}" %>
<%= label_tag "owned_plant_#{owned_plant.id}", owned_plant.plant.common_name %>
<% end %>
</div>
</div>
  <div class="mt-6">
    <%= form.submit "Créer le potager", class: "py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" %>
  </div>
<% end %>
  </div>
</div>

