<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>CommuniTerra</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="Share knowledge about plants and discover the world of plantsitting">
    <meta name="keywords" content="HTML, CSS, JavaScript, TailWind, Ruby on Rails">
    <meta name="author" content="Katherine CAO, Ezekiel RAVIDAT, Boris CROCHET, Tommy RISCHMANN, Hugo RISCHMANN">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
  </head>
  
  <body class="bg-gray-light flex-grow width:100%">
    <%= render "shared/navbar" %>
    <%= yield %>
    <%= render "shared/footer"%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  </body>
</html>
